<!DOCTYPE html>
<html lang="en" data-theme="<%= locals.theme || 'light' %>">
<%- include('../partials/head', {title: `ContractorPay | ${locals.title}`}) %>

    <body>
        <%- include('../partials/navigation') %>
            <main class="container is-max-widescreen py-6 px-4">
                <section class="hero is-medium">
                    <div class="hero-body">
                        <p class="title is-size-1"><%= __('error_404_title') %></p>
                        <p class="subtitle">
                            <%= __('error_404_message') %>
                        </p>
                        <div class="">
                            <button
                                class="button is-primary"
                                onclick="window.history.back()"
                            >
                                <%= __('error_404_back') %>
                            </button>
                        </div>
                    </div>
                </section>
            </main>
    </body>

</html>
