<!DOCTYPE html>
<html lang="en" data-theme="<%= locals.theme || 'light' %>">
<%- include('../partials/head', { title: `ContractorPay | ${locals.title}` }) %>

    <body>
        <%- include('../partials/navigation') %>

            <main class="container is-max-widescreen py-6 px-4">

                <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="/">
                            <%= __('breadcrumb_home') %>
                        </a></li>
                        <li>
                            <a class="is-capitalized" href="/<%= locals.baseRoute %>">
                                <%= locals.baseRoute %>
                            </a>
                        </li>
                        <li class="is-active">
                            <a href="#" aria-current="page" class="has-text-dark"> <%= locals.title %> </a>
                        </li>
                    </ul>
                </nav>

                <div class="is-flex is-justify-content-space-between is-align-items-center">
                    <h1 class="title is-1">
                        <%= locals.title %>
                    </h1>
                    <a href="/<%= locals.baseRoute %>/edit/<%= data.id %>" class="button is-primary"><%= __('detail_edit') %></a>
                </div>

                <h2 class="title is-5"><%= __('detail_details') %></h2>

                <section class="box">
                    <div class="columns">
                        <div class="column is-6">
                            <% Object.keys(data).forEach((key) => { %>
                                <p class="block">
                                    <strong class="is-capitalized">
                                        <%= key %>:
                                    </strong>
                                    <%= data[key] %>
                                </p>
                            <% }) %>
                        </div>
                    </div>
                </section>
            </main>
    </body>

</html>
