<!DOCTYPE html>
<html lang="en" data-theme="<%= locals.theme || 'light' %>">
<%- include('../partials/head', {title: `ContractorPay | ${locals.title}`}) %>
    <body>
        <% if (locals.showNavigation === undefined || locals.showNavigation) { %>
        <%- include('../partials/navigation') %>
        <% } %>
            <main class="container is-max-desktop py-6 px-4">
                <%- include('../partials/flash-messages', locals) %>

                <% if (locals.showNavigation === undefined || locals.showNavigation) { %>
                <h1 class="title is-3">
                    <%= __(locals.title) %>
                </h1>
                <% } %>

                <div class="box">

                    <% if (form.error) { %>
                        <div class="notification is-danger" id="alert">
                            <button
                                class="delete"
                                onclick="
                                    const alert = document.getElementById('alert');
                                    alert.parentNode.removeChild(alert);
                                "
                            >
                            </button>
                            <%= __('form_error') %> <%= form.error %>
                        </div>
                    <% } %>

                    <%- include('../partials/form', form) %>
                </div>
            </main>
    </body>

</html>
