<!DOCTYPE html>
<html lang="en" data-theme="light">
<%- include('../partials/head', {title: `ContractorPay | ${locals.title}`}) %>

    <body>
        <%- include('../partials/navigation') %>
        <main class="container is-max-desktop py-6">
            <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="is-active">
                        <a href="#" aria-current="page" class="has-text-dark"> <%= locals.title %> </a>
                    </li>
                </ul>
            </nav>

            <section class="px-4">
                <div class="is-flex is-justify-content-space-between is-align-items-center">
                    <h1 class="title is-1 is-family-sans-serif"><%= locals.title %></h1>
                    <% if (locals.showCreate) { %>
                        <a href="<%= locals.createPath %>" class="button is-primary">
                            <%= __('list_create') %>
                        </a>
                    <% } %>
                </div>

                <% if (locals.description) { %>
                    <h2 class="subtitle"><%= locals.description %></h2>
                <% } %>

            </section>
        </main>
    </body>

</html>
