<!DOCTYPE html>
<html lang="en" data-theme="<%= locals.theme || 'light' %>">
<% const TITLE = __(locals.title) %>
<%- include('../partials/head', {title: `ContractorPay | ${TITLE}`}) %>

    <body>
        <%- include('../partials/navigation') %>
        <%- include('../partials/flash-messages') %>
        <main class="container is-max-widescreen py-6">
            <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">
                        <%= __('breadcrumb_home') %>
                    </a></li>
                    <li class="is-active">
                        <a href="#" aria-current="page" class="has-text-dark"> <%= TITLE %> </a>
                    </li>
                </ul>
            </nav>

            <section class="px-4">
                <div class="is-flex is-justify-content-space-between is-align-items-center">
                    <h1 class="title is-1"><%= TITLE %></h1>
                    <% if (locals.showCreate) { %>
                        <a href="<%= locals.createPath %>" class="button is-primary">
                            <%= __('list_create') %>
                        </a>
                    <% } %>
                </div>

                <% if (locals.description) { %>
                    <h2 class="subtitle"><%= locals.description %></h2>
                <% } %>

                <div>
                    <%- include('../partials/table', { data, fields }) %>
                </div>
            </section>
        </main>
    </body>

</html>
