<!DOCTYPE html>
<html lang="<%= locale %>" data-theme="<%= locals.theme || 'light' %>">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/navigation') %>
        <%- include('../partials/flash-messages') %>
        <main>
            <!-- Login Section -->
            <section class="hero is-fullheight-with-navbar hero-background">
                <div class="hero-body">
                    <div class="container is-max-widescreen">
                        <div class="columns is-centered">
                            <div class="column is-8-tablet is-6-desktop">
                                <!-- Header -->
                                <div class="has-text-centered mb-5">
                                    <h1 class="title is-3 is-family-serif"><%= __('auth_login_heading') %></h1>
                                    <p class="subtitle is-6 has-text-grey">
                                        <%= __('auth_login_subtitle') %>
                                    </p>
                                </div>

                                <!-- Login Form Card -->
                                <div class="box login-card">
                                    <%- include('../partials/flash-messages', locals) %>
                                    <form method="post" action="/login">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <div class="field">
                                            <label class="label" for="email"><%= __('login_email') %></label>
                                            <div class="control">
                                                <input
                                                    id="email"
                                                    name="email"
                                                    type="email"
                                                    class="input"
                                                    placeholder="<%= __('login_email_placeholder') %>"
                                                    required
                                                />
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label class="label mb-0" for="password">Password</label>
                                            <div class="control">
                                                <input
                                                    id="password"
                                                    name="password"
                                                    type="password"
                                                    class="input"
                                                    placeholder="<%= __('login_password_placeholder') %>"
                                                    required
                                                />
                                            </div>
                                            <p class="is-size-7 has-text-grey has-text-right mt-1">
                                                <a href="#">
                                                    Forgot password?
                                                </a>
                                            </p>
                                        </div>

                                        <div class="field mt-5">
                                            <div class="control">
                                                <button
                                                    type="submit"
                                                    class="button is-dark is-fullwidth"
                                                >
                                                    <%= __('auth_login_button_sign_in') %>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <!-- Help text -->
                                <p class="has-text-centered is-size-7 has-text-grey mt-4">
                                    <%= __('auth_login_help_text') %>
                                    <a href="#" class="has-text-dark">
                                        &nbsp;<%= __('auth_login_help_contact_admin') %>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="container is-max-widescreen">
                <div class="columns is-vcentered">
                    <div class="column">
                        <div class="is-flex is-align-items-center" style="gap: 1.5rem">
                            <a href="#" class="has-text-grey hover:has-text-black"><%= __('footer_privacy') %></a>
                            <a href="#" class="has-text-grey hover:has-text-black"><%= __('footer_terms') %></a>
                            <a href="#" class="has-text-grey hover:has-text-black"><%= __('footer_contact') %></a>
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <p class="is-size-7 has-text-grey">
                            <%= __('footer_copyright') %>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
