<!-- Export/Import Section -->
<div class="box mt-6">
    <h2 class="title is-4 mb-4"><%= __('admin_data_management_title') %></h2>

    <div class="columns is-desktop">
        <!-- Import Section -->
        <div class="column">
            <article class="message is-info is-light" style="height: 100%; display: flex; flex-direction: column;">
                <div class="message-header">
                    <p><%= __('admin_import_title') %></p>
                </div>
                <div class="message-body" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between;">
                    <p class="block">
                        <%= __('admin_import_description') %>
                    </p>
                    <form action="/admin/import?_csrf=<%= csrfToken %>" method="post" enctype="multipart/form-data">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <div class="file is-info is-fullwidth has-name">
                                    <label class="file-label">
                                        <input class="file-input" type="file" name="data" accept="application/json" required onchange="if(this.files.length > 0) document.getElementById('file-name-display').textContent = this.files[0].name;">
                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg>
                                            </span>
                                            <span class="file-label"><%= __('admin_import_json_label') %></span>
                                        </span>
                                        <span class="file-name" id="file-name-display">
                                            <%= __('admin_import_choose_file') %>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info" title="<%= __('admin_import_button') %>">
                                    <span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                </div>
            </article>
        </div>

        <!-- Export Section -->
        <div class="column">
            <article class="message is-success is-light" style="height: 100%; display: flex; flex-direction: column;">
                <div class="message-header">
                    <p><%= __('admin_export_title') %></p>
                </div>
                <div class="message-body" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between;">
                    <p class="block">
                        <%= __('admin_export_description') %>
                    </p>
                    <a href="/admin/export" class="button is-success is-light is-fullwidth">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                        </span>
                        <span><%= __('admin_export_button') %></span>
                    </a>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- End Export/Import Section -->
