<!DOCTYPE html>
<html lang="en" data-theme="light">
    <%- include('../partials/head', { title: `ContractorPay ${project.name}`, scripts: ['/js/iframe-modal.js'] }) %>

    <body>
        <%- include('../partials/navigation') %>

        <main class="container is-max-desktop py-6 px-4">
            <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li class="is-active">
                        <a href="#" aria-current="page" class="has-text-dark"> <%= project.name %> </a>
                    </li>
                </ul>
            </nav>

            <div class="is-flex is-justify-content-space-between is-align-items-center">
                <h1 class="title is-1 is-family-sans-serif"><%= project.name %></h1>
                <a href="/projects/edit/<%= project.id %>" class="button is-primary"> Edit </a>
            </div>

            <h2 class="subtitle"><%= project.description %></h2>

            <section>
                <h2 class="title is-5">Overview</h2>
                <%- include('partials/_overview-cards', { project, stages }) %>
            </section>

            <section class="mt-6">
                <div class="is-flex is-justify-content-space-between is-align-items-center">
                    <h2 class="title is-5">Stages</h2>
                    <a
                        href="/projects/show/<%= project.id %>/stages/create"
                        class="button is-secondary is-small"
                    >
                        Add stage
                    </a>
                </div>

                <div class="box">
                    <%- include('partials/_stages', { stages, project }) %>
                </div>
            </section>
        </main>
    </body>
</html>
