
<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th><%= __('projects_list_name') %></th>
                <th><%= __('projects_list_description') %></th>
                <th><%= __('projects_list_status') %></th>
                <th><%= __('projects_list_estimated_cost') %></th>
                <th><%= __('projects_list_payed') %></th>
                <th><%= __('projects_list_actions') %></th>
            </tr>
        </thead>
        <tbody>
        <% projects.forEach(project => { %>
            <tr>
                <td><%= project.name %></td>
                <td><%= project.description %></td>
                <td>
                    <span class="tag is-info is-capitalized"><%= __(`projects_status_${project.status}`) %></span>
                </td>
                <td>
                    <span class="tag is-dark">$<%= project.estimatedCost %></span>
                </td>
                <td>
                    <span class="tag is-info">$<%= project.actualCost %></span>
                </td>
                <td>
                    <div class="field is-grouped is-justify-content-flex-end">
                        <p class="control">
                            <a class="button is-primary is-small" href="/projects/show/<%= project.id %>"><%= __('projects_list_view') %></a>
                        </p>
                    </div>
                </td>
            </tr>
        <% }); %>

        <!-- No projects message -->
        <% if (projects.length === 0) { %>
            <tr>
                <td colspan="6">
                    <div class="notification is-warning has-text-centered">
                        <%= __('projects_list_no_projects') %>
                    </div>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
