
<div class="projects-grid">
    <% projects.forEach(project => { %>
        <div class="card project-card">
            <div class="card-content">
                <div class="media mb-2">
                    <div class="media-content">
                        <div class="is-flex is-justify-content-space-between is-align-items-start">
                            <p class="title is-5 mb-0"><%= project.name %></p>
                            <span class="tag is-info is-capitalized is-light">
                                <%= __(`projects_status_${project.status}`) %>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="content mb-4">
                    <p class="has-text-grey is-size-6 mb-4 line-clamp-2">
                        <%= project.description %>
                    </p>
                    
                    <div class="level is-mobile mb-0">
                        <div class="level-left mr-5">
                            <div>
                                <p class="heading has-text-grey-light mb-0"><%= __('projects_list_estimated_cost') %></p>
                                <p class="title is-6"><%= formatToCurrency(project.estimatedCost) %></p>
                            </div>
                        </div>
                        <div class="level-left">
                            <div>
                                <p class="heading has-text-grey-light mb-0"><%= __('projects_list_payed') %></p>
                                <p class="title is-6 has-text-success"><%= formatToCurrency(project.actualCost) %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <a href="/projects/show/<%= project.id %>" class="card-footer-item has-text-primary has-text-weight-bold">
                    <%= __('projects_list_view') %>
                </a>
            </footer>
        </div>
    <% }); %>

    <!-- No projects message -->
    <% if (projects.length === 0) { %>
        <div class="notification is-warning has-text-centered w-full">
            <%= __('projects_list_no_projects') %>
        </div>
    <% } %>
</div>
