<% const statusStyles = {
    active: "is-success",
    paused: "is-warning",
    completed: "is-link",
    archived: "is-dark"
}; %>

<div class="columns is-multiline is-variable is-4">
    <% if (projects && projects.length) { %>
        <% projects.forEach(function (project) {
            const statusKey = (project.status || "unknown").toLowerCase();
            const statusClass = statusStyles[statusKey] || "is-info";
            const projectStatusTranslationKey = `projects_status_${statusKey}`;
            const translatedProjectStatus = __(projectStatusTranslationKey);
            const translatedGenericStatus = __(statusKey);
            const statusLabel = translatedProjectStatus !== projectStatusTranslationKey
                ? translatedProjectStatus
                : translatedGenericStatus !== statusKey
                    ? translatedGenericStatus
                    : (project.status || __('status')).replace(/_/g, " ");
        %>
        <div class="column is-full-tablet is-half-desktop">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <div class="columns is-mobile">
                            <div class="column">
                                <h4 class="title is-5 is-spaced"><%= project.name %></h4>
                                <p class="subtitle is-6 has-text-grey">
                                    <%= project.description %>
                                </p>
                            </div>
                            <div class="column is-narrow">
                                <span class="tag <%= statusClass %> is-light is-uppercase"><%= statusLabel %></span>
                            </div>
                        </div>

                        <div>
                            <div class="columns mb-0">
                                <div class="column pb-1"><%= __('progress') %></div>
                                <div class="column has-text-right pb-2">
                                    <%= project.progress %>%
                                </div>
                            </div>
                            <progress class="progress is-small" value="<%= project.progress %>" max="100"><%= project.progress %>%</progress>
                        </div>

                        <div class="columns">
                            <div class="column">
                                <div class="is-flex gap-2 mt-3">
                                    <div class="is-flex is-align-items-center is-justify-content-center">
                                        <%- include('../../../partials/icons/home-dollar.ejs') %>
                                    </div>
                                    <div >
                                        <p class="mb-1 is-size-7"><%= __('projects_list_estimated_cost') %></p>
                                        <p class="m-0 "><%= formatToCurrency(project.estimatedCost) %></p>
                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="is-flex gap-2 mt-3">
                                    <div class="is-flex is-align-items-center is-justify-content-center">
                                        <%- include('../../../partials/icons/calendar.ejs') %>
                                    </div>
                                    <div >
                                        <p class="mb-1 is-size-7"><%= __('projects_create_start_date') %></p>
                                        <p class="m-0 "><%= formatDate(project.startDate) %></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% if (project.deleted) { %>
                            <span class="tag is-danger is-light is-uppercase">
                                <%= __('archived') %>
                            </span>
                        <% } %>
                    </div>
                </div>

                <footer class="card-footer">
                    <a href="/projects/show/<%= project.id %>" class="card-footer-item has-text-weight-semibold">
                        <%= `${__('projects_list_view')} ${__('detail_details')}` %>
                    </a>
                    <a href="/projects/edit/<%= project.id %>" class="card-footer-item has-text-weight-semibold">
                        <%= __('projects_edit') %>
                    </a>
                </footer>
            </div>
        </div>
        <% }); %>
    <% } else { %>
        <div class="column is-12">
            <div class="notification is-info is-light">
                <%= __('projects_list_no_projects') %>
            </div>
        </div>
    <% } %>
</div>