<div class="columns is-multiline is-mobile">
    <div class="column is-one-quarter-desktop is-half-tablet is-half-mobile">
        <div class="box h-full">
            <p class="subtitle is-6 mb-3"><%= __('overview_estimated_cost') %></p>
            <h4 class="title is-5">
                <%= formatToCurrency(project.estimatedCost, { currency: project.currencyCode, symbol: project.currencySymbol }) %>
            </h4>
        </div>
    </div>
    <div class="column is-one-quarter-desktop is-half-tablet is-half-mobile">
        <div class="box h-full">
            <p class="subtitle is-6 mb-3"><%= __('overview_actual_cost') %></p>
            <h4 class="title is-5">
                <%= formatToCurrency(project.actualCost, { currency: project.currencyCode, symbol: project.currencySymbol }) %>
            </h4>
        </div>
    </div>
    <div class="column is-one-quarter-desktop is-half-tablet is-half-mobile">
        <div class="box h-full">
            <p class="subtitle is-6 mb-3"><%= __('overview_total_stages') %></p>
            <h4 class="title is-5"><%= stages.length %></h4>
        </div>
    </div>
    <div class="column is-one-quarter-desktop is-half-tablet is-half-mobile">
        <div class="box h-full">
            <p class="subtitle is-6 mb-3"><%= __('overview_status') %></p>
            <h4 class="title is-5 is-capitalized"><%= __( `projects_status_${project.status}` ) %></h4>
        </div>
    </div>
</div>
