<div class="columns is-multiline is-mobile overview-cards">
    <div class="column is-one-quarter-desktop is-half-tablet is-half-mobile">
        <div class="box h-full overview-card-box">
            <div class="columns is-mobile is-vcentered">
                <div class="column is-narrow">
                    <div class="overview-card-icon">
                        <%- include('../../../partials/icons/coins.ejs') %>
                    </div>
                </div>
                <div class="column">
                    <p class="title is-6 mb-1"><%= __('overview_estimated_cost') %></p>
                    <p class="subtitle is-5 mb-0">
                        <%= formatToCurrency(project.estimatedCost, { currency: project.currencyCode, symbol: project.currencySymbol }) %>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-one-quarter-desktop is-half-tablet is-half-mobile">
        <div class="box h-full overview-card-box">
            <div class="columns is-mobile is-vcentered">
                <div class="column is-narrow">
                    <div class="overview-card-icon">
                        <%- include('../../../partials/icons/cash.ejs') %>
                    </div>
                </div>
                <div class="column">
                    <p class="title is-6 mb-1"><%= __('overview_actual_cost') %></p>
                    <p class="subtitle is-5 mb-0">
                        <%= formatToCurrency(project.actualCost, { currency: project.currencyCode, symbol: project.currencySymbol }) %>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-one-quarter-desktop is-half-tablet is-half-mobile">
        <div class="box h-full overview-card-box">
            <div class="columns is-mobile is-vcentered">
                <div class="column is-narrow">
                    <div class="overview-card-icon">
                        <%- include('../../../partials/icons/calendar.ejs') %>
                    </div>
                </div>
                <div class="column">
                    <p class="title is-6 mb-1"><%= __('overview_total_stages') %></p>
                    <p class="subtitle is-5 mb-0"><%= stages.length %></p>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-one-quarter-desktop is-half-tablet is-half-mobile">
        <div class="box h-full overview-card-box">
            <div class="columns is-mobile is-vcentered">
                <div class="column is-narrow">
                    <div class="overview-card-icon">
                        <%- include('../../../partials/icons/home-dollar.ejs') %>
                    </div>
                </div>
                <div class="column">
                    <p class="title is-6 mb-1"><%= __('overview_status') %></p>
                    <p class="subtitle is-5 mb-0 is-capitalized"><%= __( `projects_status_${project.status}` ) %></p>
                </div>
            </div>
        </div>
    </div>
</div>
