<div class="columns is-multiline is-variable is-4">
    <% if (stages && stages.length) { %>
        <% stages.forEach(function (stage) {
            const estimatedCost = Number(stage.estimatedCost) || 0;
            const totalPayments = Number(stage.totalPayments) || 0;
            const owedAmount = Math.max(estimatedCost - totalPayments, 0);
            const progressValue = Number(stage.progress) || 0;
        %>
        <div class="column is-full-tablet is-half-desktop">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h4 class="title is-5 is-spaced"><%= stage.name %></h4>

                        <div>
                            <div class="columns mb-0">
                                <div class="column pb-1"><%= __('stages_progress') %></div>
                                <div class="column has-text-right pb-2"><%= progressValue %>%</div>
                            </div>
                            <progress class="progress is-small <% if (progressValue >= 100) { %>is-success<% } %>" value="<%= progressValue %>" max="100">
                                <%= progressValue %>%
                            </progress>
                        </div>

                        <div class="columns is-multiline">
                            <div class="column is-half">
                                <div class="is-flex gap-2 mt-3">
                                    <div class="is-flex is-align-items-center is-justify-content-center">
                                        <%- include('../../../partials/icons/coins.ejs') %>
                                    </div>
                                    <div>
                                        <p class="mb-1 is-size-7"><%= __('stages_estimated_cost') %></p>
                                        <p class="m-0"><%= formatToCurrency(estimatedCost, { currency: stage.displayCurrencyCode, symbol: stage.displayCurrencySymbol }) %></p>
                                    </div>
                                </div>
                            </div>

                            <div class="column is-half">
                                <div class="is-flex gap-2 mt-3">
                                    <div class="is-flex is-align-items-center is-justify-content-center">
                                        <%- include('../../../partials/icons/cash.ejs') %>
                                    </div>
                                    <div>
                                        <p class="mb-1 is-size-7"><%= __('stages_paid') %></p>
                                        <p class="m-0"><%= formatToCurrency(totalPayments, { currency: stage.displayCurrencyCode, symbol: stage.displayCurrencySymbol }) %></p>
                                    </div>
                                </div>
                            </div>

                            <div class="column is-half">
                                <div class="is-flex gap-2 mt-3">
                                    <div class="is-flex is-align-items-center is-justify-content-center">
                                        <%- include('../../../partials/icons/wallet.ejs') %>
                                    </div>
                                    <div>
                                        <p class="mb-1 is-size-7"><%= __('stages_owed') %></p>
                                        <p class="m-0"><%= formatToCurrency(owedAmount, { currency: stage.displayCurrencyCode, symbol: stage.displayCurrencySymbol }) %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="card-footer">
                    <a href="/projects/show/<%= project.id %>/stages/show/<%= stage.id %>/payments/create" class="card-footer-item has-text-weight-semibold">
                        <%= __('stages_register_payment') %>
                    </a>
                    <a href="/projects/show/<%= project.id %>/stages/show/<%= stage.id %>" class="card-footer-item has-text-weight-semibold">
                        <%= __('view') %>
                    </a>
                    <form method="POST" action="/projects/show/<%= project.id %>/stages/remove/<%= stage.id %>" class="card-footer-item">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="button is-warning is-small">
                            <%= __('stages_delete') %>
                        </button>
                    </form>
                </footer>
            </div>
        </div>
        <% }); %>
    <% } else { %>
        <div class="column is-12">
            <div class="notification is-warning has-text-centered">
                <%= __('stages_no_stages') %>
            </div>
        </div>
    <% } %>
</div>
