<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>
        <% if (locals.title) { %>
            <%= locals.title %>
        <% } else { %>
            ContractFlow | <%= __('site_slogan') %>
        <% } %>
    </title>
    <meta
        name="description"
        content="<%= __('site_description') %>"
    />
    <meta
        name="keywords"
        content="contractor, pay, payment, project, budget, track, manage, create, pay, ease"
    />
    <meta name="author" content="ContractFlow" />
    <meta name="robots" content="index,follow" />
    <meta name="theme-color" content="#111827" />
    <meta name="referrer" content="strict-origin-when-cross-origin" />

    <!-- Open Graph / Social -->
    <meta
        property="og:title"
        content="<%= locals.title || 'ContractFlow | ' + __('site_slogan') %>"
    />
    <meta
        property="og:description"
        content="<%= __('site_description') %>"
    />
    <meta property="og:type" content="website" />
    <% if (locals.ogUrl) { %>
        <meta property="og:url" content="<%= locals.ogUrl %>" />
    <% } %>
    <meta property="og:image" content="/apple-touch-icon.png" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
        name="twitter:title"
        content="<%= locals.title || 'ContractFlow | ' + __('site_slogan') %>"
    />
    <meta
        name="twitter:description"
        content="<%= __('site_description') %>"
    />
    <meta name="twitter:image" content="/apple-touch-icon.png" />

    <% if (locals.canonical) { %>
        <link rel="canonical" href="<%= locals.canonical %>" />
    <% } %>

    <!-- Load custom scripts -->
     <% if (locals.scripts) { %>
        <% locals.scripts.forEach(script => { %>
            <script src="<%= script %>" defer></script>
        <% }); %>
    <% } %>

    <!-- Prefetchers -->
    <link rel="prefetch" href="/projects" />
    <link rel="prefetch" href="/contractors" />

    <!-- Custom styles -->
    <link rel="stylesheet" href="/css/main.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&family=Source+Serif+4:opsz@8..60&display=swap" rel="stylesheet">
    
    <!-- App Scripts -->
    <script src="/js/iframe-modal.js" defer></script>
    <script src="/scripts.js" defer></script>
</head>
