<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/logo.png" alt="ContractorPay logo" height="100px" />
        </a>

        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item"> <%= __('nav_home') %> </a>
            <% if (locals.user) { %>
            <a href="/projects" class="navbar-item"><%= __('nav_projects') %></a>
            <a href="/contractors" class="navbar-item"><%= __('nav_contractors') %></a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"> <%= __('nav_more') %> </a>

                <div class="navbar-dropdown">
                    <a href="/payment-categories" class="navbar-item"><%= __('nav_paymentCategories') %></a>

                    <a href="/settings" class="navbar-item"><%= __('nav_settings_currency') %></a>

                    <!-- Admin link -->
                    <% if (locals.user && locals.user.role === 'admin') { %>
                    <a href="/admin" class="navbar-item"><%= __('nav_admin') %></a>
                    <% } %>

                    <hr class="navbar-divider" />
                    <div class="navbar-item">
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu-lang">
                                    <span><%= __('nav_language') %></span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu-lang" role="menu">
                                <div class="dropdown-content">
                                    <a href="/lang/en" class="dropdown-item">English</a>
                                    <a href="/lang/es" class="dropdown-item">Español</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <% if (locals.user) { %>
                    <form action="/logout" method="post">
                        <button class="button is-seconary" type="submit">
                            <strong><%= __('nav_logout') %></strong>
                        </button>
                    </form>
                    <% } else { %>
                    <a class="button is-primary" href="/login">
                        <strong><%= __('nav_login') %></strong>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</nav>
