<table class="table is-striped is-hoverable is-fullwidth is-fullwidth">
    <thead>
        <tr>
            <% fields.forEach((key)=> { %>
                <th>
                    <span class="is-capitalized">
                        <% if (typeof key === 'function') { %>
                            <%- key() %>
                        <% } else {%>
                            <%= __(key) %>
                        <% } %>
                    </span>
                </th>
            <% }); %>
        </tr>
    </thead>

   <tbody>
        <% data.forEach((row)=> { %>
            <tr>
                <% fields.forEach((key)=> { %>
                    <td>
                        <% if (typeof row[key] === 'function') { %>
                            <%- row[key]() %>
                        <% } else {%>
                            <%= row[key] %>
                        <% } %>
                    </td>
                <% }); %>
            </tr>
        <% }); %>

        <% if (data.length === 0) { %>
            <tr>
                <td colspan="<%= fields.length %>" class="has-text-centered">
                    <div class="notification is-warning">
                        No data available
                    </div>
                </td>
            </tr>
        <% } %>
   </tbody>
</table>
