<!DOCTYPE html>
<html lang="<%= locale %>" data-theme="<%= locals.theme || 'light' %>">
<%- include('../../partials/head') %>

    <body>
        <%- include('../../partials/navigation') %>

            <main class="container is-max-widescreen py-6 px-4">
                <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="/"> <%= __('breadcrumb_home') %> </a></li>
                        <li class="is-active"><a href="#"> <%= __('breadcrumb_projects') %> </a></li>
                    </ul>
                </nav>

                <div class="is-flex is-justify-content-space-between is-align-items-center">
                    <h1 class="title is-1 is-family-sans-serif"><%= __('projects_title') %></h1>
                    <a href="/projects/create %>" class="button is-primary">
                        <%= __('projects_add') %>
                    </a>
                </div>

                <!-- Project list -->
                <%- include('partials/_list', { projects }) %>
            </main>
    </body>

</html>
