
<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr class="is-light">
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Estimated cost</th>
                <th>Payed</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <% projects.forEach(project => { %>
            <tr>
                <td><%= project.name %></td>
                <td><%= project.description %></td>
                <td>
                    <span class="tag is-info is-capitalized"><%= project.statusLabel %></span>
                </td>
                <td>
                    <span class="tag is-dark">$<%= project.estimatedCost %></span>
                </td>
                <td>
                    <span class="tag is-info">$<%= project.actualCost %></span>
                </td>
                <td>
                    <div class="field is-grouped is-justify-content-flex-end">
                        <p class="control">
                            <a class="button is-primary is-small" href="/projects/show/<%= project.id %>">View</a>
                        </p>
                    </div>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
